name: Deploy Production

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - 'main'

concurrency:
  group: production-deploy
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: production
      url: https://bskye.app
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v6

      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          wranglerVersion: "4.54.0"
          command: deploy --name=bskye --route bskye.app --route d.bskye.app
