name: 'Lint'

on:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v6

    - name: 'Install Node'
      uses: actions/setup-node@v6
      with:
        node-version: 24

    - name: 'Install Depencencies'
      run: npm ci

    - name: 'Run Tests'
      run: npm run lint:check
